.card{
    width: 50%;
    height: 300px;
    /* border: solid red; */
    margin-top: 200px;
    background-color: #6082d266;
    border-radius: 10px;
}
#input{
   padding: 10px 150px;
   border-radius: 20px;
   margin-top: 10px;
}
#head{
    color:brown;
    padding-top: 30px;
}
#but1{
    padding: 8px 13px;
    border-radius: 5px;
    background-color: brown;
    color: white;
    border: none;
    margin-top: 10px;
}
body{
    background-color: rgba(128, 128, 128, 0.201);
}